---
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro"; 
---
<html>
    <head>
        <link rel="stylesheet" href="src\pages\style.css"/>
        <tittle>Sobre mi</tittle>
    </head>
    <body>
    <Header />
        <main>
            <h1>Alejandro García</h1>
            <p>dsadadsadadadsadadas</p>
        </main>
    <Footer />
    </body>
</html>