---
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";
---

<html lang="en">
	<head>
		<link rel="stylesheet" href="src\pages\style.css"/>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mi pagina web en Astro</title>
	</head>
	<body>
		<Header />
	<main>
		<h1>Bienvenido a mi primera página web en Astro</h1>
	</main>
		<Footer />
	</body>
</html>
